<li class="nav-item active"><a class="nav-link"  onclick="getContentRequest('{{url_for('home_content')}}')" href="/">Home</a></li>
<li class="nav-item"><a class="nav-link" onclick="getContentRequest('{{url_for('goods_task')}}')"  href="#">Goods task</a></li>
<li class="nav-item"><a class="nav-link" onclick="getContentRequest('{{url_for('fee_task')}}')"  href="#">Fee task</a></li>
<li class="nav-item "><a class="nav-link" onclick="getContentRequest('{{url_for('network_task')}}')"  href="#">Network task</a></li>
